body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #bfc0c0;
}
a:hover {
  color: #f45b69;
  transition: 0.5s;
}

.navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  background-color: rgb(17, 26, 44);
}

ul {
  list-style: none;
  display: flex;
  padding-right: 20px;
}

li {
  font-size: 20px;
  color: #bfc0c0;
  padding: 0px 20px 0px 20px;
}
nav li:hover {
  color: #f45b69;
  transition: 0.5s;
}

#hero-content {
  padding: 7% 0%;
}

#hero {
  text-align: center;
  background-image: linear-gradient(#141e30, #243b55);
  background-size: cover;
  padding-top: 50px;
}

#hero h1 {
  font-size: 65px;
  font-weight: 400;
  color: #ffffff;
  margin: 1%;
}

#hero h3 {
  font-size: 35px;
  font-weight: 400;
  color: #ffffff;
  font-style: italic;
  margin: 1% 0% 0% 0%;
}

#hero img {
  max-width: 15%;
  border-radius: 50%;
  padding-top: 10px;
  min-width: 160px;
}

#hero .row {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 20%;
  justify-content: space-evenly;
}
.contact-item {
  padding-bottom: 5%;
}

.project-item {
  padding-bottom: 5%;
  width: 30%;
  height: auto;
}

.project-item img {
  max-width: 100%;
  height: auto;
}

.project-item img:hover {
  opacity: 0.2;
  transition: 0.5s;
}

.fab,
.fas {
  /* color: #fff; */
  color: #bfc0c0;
  padding: 20px;
}
.fab:hover,
.fas:hover {
  color: #f45b69;
  transition: 0.5s;
}

#introduction {
  text-align: center;
  padding: 0 25%;
}

#introduction h2 {
  font-size: 50px;
  font-weight: 400;
}

#introduction p {
  font-size: 23px;
  margin-bottom: 8%;
}

#introduction button {
  background: white;
  border-radius: 8px;
  border: 3px #f45b69 solid;
  padding: 15px 20px;
  font-size: 25px;
  color: #f45b69;
}

#introduction button:hover {
  background-color: #f45b69;
  color: white;
  transition: 0.5s;
}
#portfolio {
  background-color: #456990;
  /* background-color: #4F5D75; */
}

#portfolio .row {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
}

#portfolio h2 {
  font-weight: 400;
  font-size: 50px;
  color: #fff;
  text-align: center;
  padding-top: 3%;
}

#portfolio h4 {
  text-align: left;
  font-size: 23px;
  font-weight: 400;
  color: #fff;
}

#portfolio p {
  font-weight: 400;
  font-size: 20px;
  color: #bfc0c0;
  text-align: center;
  padding-bottom: 20px;
}

#portfolio p a {
  color: #ef8354;
}

#contact .row {
  display: flex;
  flex-direction: row;
  margin: auto;
  width: 20%;
  justify-content: space-evenly;
}

@media only screen and (max-width: 500px) {
  .project-item {
    width: 100%;
  }

  .row {
    flex-direction: column !important;
  }

  #hero .row {
    flex-direction: row !important;
  }

  #contact .row {
    flex-direction: row !important;
  }

  #portfolio h4 {
    text-align: center;
  }

  #introduction {
    padding: 0;
  }
}
